* {
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

:root {
  --btn-color: #E63946;
  --skyblue: #A8DADC;
  --dark-font-color: #1D3557;
  --light-color: #F1FAEE;
  --dark-bg: #2A5189;
  --pink-shape-color: #EB9A9A;

}

@font-face {
  font-family: Inter;
  src: url(src/Inter-Regular.woff);
}
@font-face {
  font-family: Inter;
  src: url(src/Inter-Bold.woff);
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 60px;
  font-family: Inter;
  color: var(--dark-font-color);
  background-color: var(--light-color);
  height: 100vh;
}

h3 {
  font-size: 48px;
  font-weight: bold;
}

/* ---- NAV BAR ---- */

.nav-container {
  padding: 10px 0;
  width: 100%;
  background-color: var(--light-color);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  backdrop-filter: blur(40px);
  position: fixed;
  z-index: 1000;
}

.darkmode-switch, .lightmode-switch {
  margin: 10px 0 10px 70px;
  height: 100%;
}

.lightmode-switch {
  display: none;
}

.nav-contaniner__bar {
  display: flex;
  width: 30vw;
}

.nav-contaniner__list {
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.nav-contaniner__list .nav-container__item {
  padding: 5px 20px;
  border-radius: 8px;
  transition: .3s ease-in;
}

.nav-contaniner__list .nav-container__item:hover {
  background-color: var(--dark-font-color);
  color: var(--light-color);
}

ul {
  list-style-type: none;
}

.nav-container__item {
  color: var(--dark-font-color);
  text-decoration: none;
}

/* ---- HERO ---- */

.top-btn {
  position: fixed;
  top: 90vh;
  left: 92vw;
}

.top-btn img {
  width: 70px;
}

.contact-btn {
  position: fixed;
  top: 90vh;
  left: 2vw;
}

.contact-btn img {
  width: 70px;
}

.hero-container {
  width: 80vw;
  height: 100%;
  margin: 150px 10vw 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;

}

.project-preview-container {
  padding-top: 280px;
  text-align: center;
}

.project-preview-container .image-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project-preview-container .image-container img {
  border: 1px solid var(--dark-font-color);
  width: 200px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
  transition: transform .3s ease;
  cursor: pointer;
}

.project-preview-container .image-container img:hover {
  transform: scale(1.1);
}

.hero-header {
  margin-bottom: 120px;
}

.hero-header .pink-circle {
  position: absolute;
  z-index: -1;
  top: 150px;
  left: 1100px;
}

.hero-header .skyblue-circle {
  position: absolute;
  z-index: -1;
  top: 750px;
  left: 800px;
}

.hero-header .darkblue-circle {
  position: absolute;
  z-index: -1;
  top: 200px;
  left: 300px;
}

.hero-content {
  padding-top: 180px;
  height: 100%;
  width: 100%;
}

.hero-content h1 {
  padding-right: 85px;
  font-size: 72px;
  font-family: Inter;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-content h2 {
  font-size: 48px;
  font-family: Inter;
  font-weight: 400;
}

.hero-content p {
  margin: 20px 75px 20px 0;
  font-size: 18px;
  font-style: italic;
}

.hero-content span {
  margin: 20px 75px 20px 0;
  font-style: normal;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.btn-main {
  font-weight: bold;
  background-color: var(--btn-color);
  padding: 12px 32px;
  color: var(--light-color);
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: .2s ease-in;
}

.btn-main:hover {
  color: var(--dark-font-color);
  font-weight: bold;
  background-color: var(--light-color);
  border: 2px solid var(--dark-font-color);
}

.hero-content .btn-container {
  margin-top: 100px;
}

/* ---- KNOW ME ---- */

.knowme-container {
  padding: 20px;
  width: 1440px;
  height: 600px;
  margin: 32px 10vw 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.knowme-container img {
  width: 500px;
}

.knowme-container .knowme-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 90px 90px 30px 32px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.knowme-container h3 {
  margin: 0 48px;
  width: 100%;
  justify-content: left;
}

.knowme-container p {
  width: 100%;
  font-size: 16px;
}

/* ---- SKILLS ---- */

.skills-container {
  width: 1440px;
  height: 270px;
  margin: 40px 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.skills-container .skills-content p{
  padding: 10px 60px 0 0;
  margin-top: 10px;
  font-size: 16px;
}

.icons-container {
  width: 100%;
  background-image: url('img/Circle_BG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding: 20px;
}

.skills-first-row, .skills-second-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
}

/* ---- PROJECTS ---- */

.projects-container {
  width: 1440px;
  height: 1500px;
  margin: 40px 10vw;
  justify-content: center;
}

.projects-container h3 {
  margin-left: 165px;
  margin-bottom: 48px;
}

.porject-card__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 165px; 
  gap: 110px;
}

.porject-card__name {
  font-size: 28px;
  margin-bottom: 24px;
}

.porject-card__name span {
  font-weight: normal;
}

.porject-card {
  width: 500px;
  height: 540px;
}

.porject-card__image {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

.project-card__description {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.project-card__technologies {
  font-size: 18px;
  border: 1px solid var(--dark-font-color);
  border-radius: 5px;
  width: 290px;
}

.project-card__technologies p {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

.project-card__technologies .iconify {
  height: 32px;
  width: 32px;
  margin: 10px 0 10px 10px;
}

.porject-card .btn-container {
  text-align: center;
  margin-top: 23px;
  justify-content: center;
  align-items: center;
}

.btn-viewall__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 165px;
}

.btn-viewall {
  margin: 4px 0;
  font-size: 24px;
  text-decoration: none;
  color: var(--dark-font-color);
  justify-content: center;
  align-items: center;
}

.btn-viewall__container .btn-viewall .iconify {
  height: 32px;
  width: 32px;
}

.btn-viewall__container .btn-viewall span {
  margin-left: 8px;
}

/* ---- CONTACT ---- */

.contact-container {
  width: 1440px;
  height: 740px;
  margin: 40px 10vw;
}

.contact-container__content {
  display: flex;
  justify-content: space-evenly;
}

.contact-container__icons {
  margin: 20px;
}

.contact-container__icons p {
  font-size: 18px;
  margin: 30px;
}

.icons {
  width: 100%;
  height: 80%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.contact-container__image {
  margin-left: 10px;
}

.contact-container__image img {
  height: 490px;
  width: 670px;
  object-fit: cover;
  border-radius: 10px;
  transform: rotate(-3deg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}